In [5]:
import numpy as np
import pandas as pd
data=pd.read_csv(r'D:\ml-teach-main(1)\ml-teach-main\teacher ku\ml-teach\student-mat.csv',delimiter=';')
x=data.iloc[:,:-3]
y=data.iloc[:,-3:]
x,y

(    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
 0       GP   F   18       U     GT3       A     4     4   at_home   teacher
 1       GP   F   17       U     GT3       T     1     1   at_home     other
 2       GP   F   15       U     LE3       T     1     1   at_home     other
 3       GP   F   15       U     GT3       T     4     2    health  services
 4       GP   F   16       U     GT3       T     3     3     other     other
 ..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
 390     MS   M   20       U     LE3       A     2     2  services  services
 391     MS   M   17       U     LE3       T     3     1  services  services
 392     MS   M   21       R     GT3       T     1     1     other     other
 393     MS   M   18       R     LE3       T     3     2  services     other
 394     MS   M   19       U     LE3       T     1     1     other   at_home

      ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
 0    ...    yes       no        no       4         3     4    1    1      3
 1    ...    yes      yes        no       5         3     3    1    1      3
 2    ...    yes      yes        no       4         3     2    2    3      3
 3    ...    yes      yes       yes       3         2     2    1    1      5
 4    ...    yes       no        no       4         3     2    1    2      5
 ..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
 390  ...    yes       no        no       5         5     4    4    5      4
 391  ...    yes      yes        no       2         4     5    3    4      2
 392  ...    yes       no        no       5         5     3    3    3      3
 393  ...    yes      yes        no       4         4     1    3    4      5
 394  ...    yes      yes        no       3         2     3    3    3      5

     absences
 0          6
 1          4
 2         10
 3          2
 4          4
 ..       ...
 390       11
 391        3
 392        3
 393        0
 394        5

 [395 rows x 30 columns],
      G1  G2  G3
 0     5   6   6
 1     5   5   6
 2     7   8  10
 3    15  14  15
 4     6  10  10
 ..   ..  ..  ..
 390   9   9   9
 391  14  16  16
 392  10   8   7
 393  11  12  10
 394   8   9   9

 [395 rows x 3 columns])

In [23]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)
x_train,y_train,x_test,y_test

(    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
 266     GP   M   17       U     GT3       T     3     1  services     other
 352     MS   M   18       U     LE3       T     1     3   at_home  services
 97      GP   F   16       U     GT3       T     2     1     other     other
 167     GP   F   16       U     GT3       T     4     2    health  services
 280     GP   M   17       U     LE3       A     4     1  services     other
 ..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
 369     MS   F   18       R     GT3       T     4     4     other   teacher
 320     GP   F   17       U     GT3       A     4     3  services  services
 15      GP   F   16       U     GT3       T     4     4    health     other
 125     GP   M   15       U     GT3       T     3     4  services  services
 265     GP   M   18       R     LE3       A     3     4     other     other

      ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
 266  ...    yes      yes       yes       5         4     4    3    4      5
 352  ...     no      yes       yes       4         3     3    2    3      3
 97   ...    yes       no       yes       4         3     5    1    1      5
 167  ...    yes      yes       yes       4         2     3    1    1      3
 280  ...    yes      yes       yes       4         5     4    2    4      5
 ..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
 369  ...    yes      yes       yes       3         2     2    4    2      5
 320  ...    yes      yes       yes       5         2     2    1    2      5
 15   ...    yes      yes        no       4         4     4    1    2      2
 125  ...    yes      yes        no       5         5     5    3    2      5
 265  ...    yes      yes        no       4         2     5    3    4      1

     absences
 266        2
 352        7
 97         2
 167        0
 280       30
 ..       ...
 369       10
 320       23
 15         4
 125        0
 265       13

 [316 rows x 30 columns],
      G1  G2  G3
 266   9   9  10
 352   8   7   8
 97    8   9  10
 167  14  15  16
 280   8   8   8
 ..   ..  ..  ..
 369  14  12  11
 320  13  13  13
 15   14  14  14
 125  13  13  12
 265  17  17  17

 [316 rows x 3 columns],
     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
 149     GP   M   15       U     LE3       A     2     1  services     other
 188     GP   F   17       U     GT3       A     3     3    health     other
 227     GP   M   17       U     LE3       T     2     3  services  services
 295     GP   M   17       U     GT3       T     3     3    health     other
 78      GP   M   17       U     GT3       T     2     1     other     other
 ..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
 64      GP   F   15       U     LE3       T     4     3  services  services
 27      GP   M   15       U     GT3       T     4     2    health  services
 270     GP   F   19       U     GT3       T     3     3     other  services
 205     GP   F   17       U     GT3       T     3     4   at_home  services
 99      GP   F   16       U     GT3       T     4     3     other   at_home

      ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
 149  ...    yes      yes        no       4         5     5    2    5      5
 188  ...    yes      yes       yes       3         3     3    1    3      3
 227  ...    yes      yes        no       5         3     3    1    3      3
 295  ...    yes      yes        no       4         4     3    1    3      5
 78   ...     no      yes        no       4         5     1    1    1      3
 ..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
 64   ...    yes      yes       yes       4         4     4    2    4      2
 27   ...    yes      yes        no       2         2     4    2    4      1
 270  ...    yes      yes        no       4         3     5    3    3      5
 205  ...    yes      yes       yes       4         4     3    3    4      5
 99   ...    yes      yes        no       5         3     5    1    1      3

     absences
 149        0
 188        6
 227        2
 295        4
 78         2
 ..       ...
 64         0
 27         4
 270       15
 205       28
 99         0

 [79 rows x 30 columns],
      G1  G2  G3
 149   8   9  10
 188   8   7   9
 227  12  11  12
 295  14  12  11
 78    8   8  10
 ..   ..  ..  ..
 64   10  10  10
 27   15  16  15
 270   9   9   9
 205  10   9   9
 99    7   9   8

 [79 rows x 3 columns])

In [26]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.pipeline import make_pipeline

# 决策树不需要标准化，移除StandardScaler
tree = make_pipeline(DecisionTreeRegressor(random_state=42))

# 线性回归需要标准化，保留StandardScaler
line = make_pipeline(StandardScaler(), LinearRegression())

# 特征预处理管道
preprocessor = ColumnTransformer([
    # 数值特征：标准化
    ("nums", StandardScaler(),
     ['age', 'Medu', 'Fedu', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']),
    # 类别特征：独热编码（修正sparse参数为sparse_output）
    ('cats', OneHotEncoder(handle_unknown='ignore', sparse_output=False),
     ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'higher', 'internet', 'romantic'])
])

# 处理训练数据
X_train_processed = preprocessor.fit_transform(x_train)




# 定义多个模型
# models = {
#     "线性回归": LinearRegression(),
#     "决策树": DecisionTreeRegressor(),
# }
#
# # 训练模型并计算各模型的MSE
# for name, model in models.items():
#     # 训练模型
#     model.fit(x_train, y_train)
#     # 预测
#     y_pred = model.predict(x_test)
#     # 计算MSE
#     mse = mean_squared_error(y_test, y_pred)
#     print(f"{name}的MSE：{mse:.4f}")

In [27]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.pipeline import make_pipeline

# 决策树不需要标准化，移除StandardScaler
tree = make_pipeline(DecisionTreeRegressor(random_state=42))

# 线性回归需要标准化，保留StandardScaler
line = make_pipeline(StandardScaler(), LinearRegression())

# 特征预处理管道
preprocessor = ColumnTransformer([
    # 数值特征：标准化
    ("nums", StandardScaler(),
     ['age', 'Medu', 'Fedu', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']),
    # 类别特征：独热编码（修正sparse参数为sparse_output）
    ('cats', OneHotEncoder(handle_unknown='ignore', sparse_output=False),
     ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'higher', 'internet', 'romantic'])
])

# 处理训练数据
X_train_processed = preprocessor.fit_transform(x_train)




# 定义多个模型
# models = {
#     "线性回归": LinearRegression(),
#     "决策树": DecisionTreeRegressor(),
# }
#
# # 训练模型并计算各模型的MSE
# for name, model in models.items():
#     # 训练模型
#     model.fit(x_train, y_train)
#     # 预测
#     y_pred = model.predict(x_test)
#     # 计算MSE
#     mse = mean_squared_error(y_test, y_pred)
#     print(f"{name}的MSE：{mse:.4f}")

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
266,GP,M,17,U,GT3,T,3,1,services,other,...,yes,yes,yes,5,4,4,3,4,5,2
352,MS,M,18,U,LE3,T,1,3,at_home,services,...,no,yes,yes,4,3,3,2,3,3,7
97,GP,F,16,U,GT3,T,2,1,other,other,...,yes,no,yes,4,3,5,1,1,5,2
167,GP,F,16,U,GT3,T,4,2,health,services,...,yes,yes,yes,4,2,3,1,1,3,0
280,GP,M,17,U,LE3,A,4,1,services,other,...,yes,yes,yes,4,5,4,2,4,5,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,yes,yes,yes,3,2,2,4,2,5,10
320,GP,F,17,U,GT3,A,4,3,services,services,...,yes,yes,yes,5,2,2,1,2,5,23
15,GP,F,16,U,GT3,T,4,4,health,other,...,yes,yes,no,4,4,4,1,2,2,4
125,GP,M,15,U,GT3,T,3,4,services,services,...,yes,yes,no,5,5,5,3,2,5,0
265,GP,M,18,R,LE3,A,3,4,other,other,...,yes,yes,no,4,2,5,3,4,1,13

In [32]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.pipeline import make_pipeline

# 决策树不需要标准化，移除StandardScaler
tree = make_pipeline(DecisionTreeRegressor(random_state=42))

# 线性回归需要标准化，保留StandardScaler
line = make_pipeline(StandardScaler(), LinearRegression())

# 特征预处理管道
preprocessor = ColumnTransformer([
    # 数值特征：标准化
    ("nums", StandardScaler(),
     ['age', 'Medu', 'Fedu', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']),
    # 类别特征：独热编码（修正sparse参数为sparse_output）
    ('cats', OneHotEncoder(handle_unknown='ignore', sparse_output=False),
     ['school', 'sex', 'address', 'famsize', 'Pstatus', 'Mjob', 'Fjob', 'higher', 'internet', 'romantic'])
])



# 处理训练数据
X_train_processed = preprocessor.fit_transform(x_train)
X_test_processed = preprocessor.transform(x_test)


models = {
    "线性回归": LinearRegression(),
    "决策树": DecisionTreeRegressor(),

}

# 训练模型并计算各模型的MSE
for name, model in models.items():
    # 训练模型
    model.fit(X_train_processed, y_train)
    # 预测
    y_pred = model.predict(X_test_processed)
    # 计算MSE
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    print(f"{name}的R²分数：{r2:.4f}")
    print(f"{name}的MSE：{mse:.4f}")

线性回归的R²分数：0.0534
线性回归的MSE：12.1284
决策树的R²分数：-1.1591
决策树的MSE：27.6498

In [43]:
from sklearn.preprocessing import PolynomialFeatures
poly_features = PolynomialFeatures(degree=2, include_bias=False)
a=x_train.loc[:,['age', 'Medu', 'Fedu', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']]
b=x_test.loc[:,['age', 'Medu', 'Fedu', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences']]
a_ploy=poly_features.fit_transform(a)
b_ploy=poly_features.fit_transform(b)
lin_reg = LinearRegression()
lin_reg.fit(a_ploy, y_train)
y_pred = lin_reg.predict(b_ploy)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"线性回归的R²分数：{r2:.4f}")
print(f"线性回归的MSE：{mse:.4f}")

线性回归的R²分数：-0.1864
线性回归的MSE：15.2816

In [44]:
######################22   泰坦尼克号存活预测模型

In [62]:
data1=pd.read_csv(r'D:\ml-teach-main(1)\ml-teach-main\teacher ku\ml-teach\homework\HW3\data\titanic\train.csv',delimiter=',')
data2=pd.read_csv(r'D:\ml-teach-main(1)\ml-teach-main\teacher ku\ml-teach\homework\HW3\data\titanic\test.csv',delimiter=',')
data3=pd.read_csv(r'D:\ml-teach-main(1)\ml-teach-main\teacher ku\ml-teach\homework\HW3\data\test_augmented.csv',delimiter=',')

In [70]:
y_train=data1.iloc[:,1:2]
x=data1.iloc[:,2:]
y_test=data3['Survived']
x,y_train,y_test

(     Pclass                                               Name     Sex   Age  \
 0         3                            Braund, Mr. Owen Harris    male  22.0
 1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
 2         3                             Heikkinen, Miss. Laina  female  26.0
 3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
 4         3                           Allen, Mr. William Henry    male  35.0
 ..      ...                                                ...     ...   ...
 886       2                              Montvila, Rev. Juozas    male  27.0
 887       1                       Graham, Miss. Margaret Edith  female  19.0
 888       3           Johnston, Miss. Catherine Helen 'Carrie'  female   NaN
 889       1                              Behr, Mr. Karl Howell    male  26.0
 890       3                                Dooley, Mr. Patrick    male  32.0

      SibSp  Parch            Ticket     Fare Cabin Embarked
 0        1      0         A/5 21171   7.2500   NaN        S
 1        1      0          PC 17599  71.2833   C85        C
 2        0      0  STON/O2. 3101282   7.9250   NaN        S
 3        1      0            113803  53.1000  C123        S
 4        0      0            373450   8.0500   NaN        S
 ..     ...    ...               ...      ...   ...      ...
 886      0      0            211536  13.0000   NaN        S
 887      0      0            112053  30.0000   B42        S
 888      1      2        W./C. 6607  23.4500   NaN        S
 889      0      0            111369  30.0000  C148        C
 890      0      0            370376   7.7500   NaN        Q

 [891 rows x 10 columns],
      Survived
 0           0
 1           1
 2           1
 3           1
 4           0
 ..        ...
 886         0
 887         1
 888         0
 889         1
 890         0

 [891 rows x 1 columns],
 0      0
 1      1
 2      0
 3      0
 4      1
       ..
 413    0
 414    1
 415    0
 416    0
 417    1
 Name: Survived, Length: 418, dtype: int64)

In [75]:
from sklearn.impute import SimpleImputer

pip=make_pipeline(SimpleImputer(strategy='most_frequent'),StandardScaler())
pip2=make_pipeline(SimpleImputer(strategy='most_frequent'),OneHotEncoder(handle_unknown='ignore'))
preprocessor = ColumnTransformer([
    # 数值特征：标准化
    ("nums", pip,
     ['Pclass','Age','Fare']),
    # 类别特征：独热编码（修正sparse参数为sparse_output）
    ('cats', pip2,
     ['Sex','SibSp','Parch','Embarked']),
])
x_train_processed = preprocessor.fit_transform(x)
x_test_processed=preprocessor.transform(data2)

In [76]:
models = {
    "线性回归": LinearRegression(),
    "决策树": DecisionTreeRegressor(),

}

# 训练模型并计算各模型的MSE
for name, model in models.items():
    # 训练模型
    model.fit(x_train_processed, y_train)
    # 预测
    y_pred = model.predict(x_test_processed)
    # 计算MSE
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    print(f"{name}的R²分数：{r2:.4f}")
    print(f"{name}的MSE：{mse:.4f}")

线性回归的R²分数：-930956535482455687168.0000
线性回归的MSE：218880602994547326976.0000
决策树的R²分数：-0.0991
决策树的MSE：0.2584